.mat-table {
  overflow: auto;
  min-width: 100%;
  max-width: 100%;
  min-height: 60vh;
}
.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}
.mat-input-element {
  color: black;
}
mat-cell:nth-child(1), mat-header-cell:nth-child(1) {
  flex: 0 0 10%;
}
mat-cell:nth-child(2), mat-header-cell:nth-child(2) {
  flex: 0 0 30%;
}
mat-cell:nth-child(3), mat-header-cell:nth-child(3) {
  flex: 0 0 30%;
}
mat-cell:nth-child(4), mat-header-cell:nth-child(4) {
  flex: 0 0 10%;
}
mat-cell:nth-child(5), mat-header-cell:nth-child(5) {
  flex: 0 0 20%;
}


.mat-row.highlighted {
  background: lightblue;
}